[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pyodbc = "*"
marshmallow-sqlalchemy = "*"
python-decouple = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.9"
